doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		p Salam
		div.test
			h3.head1 Titr1
			table
				tr
					th name
					th family
				tr
					td saman
					td ghadirian
				tr
					td saeed
					td ghadirian